### Introduction
This is a Jupyter Notebook that will be used to conduct Experimental Data Analysis for the Sprint 4 project for TripleTen.

I will be using a table called vehicles_us to analyze data from a car advertising company.

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [8]:
#Import vehicles_us.csv
vehicles = pd.read_csv('~/TripleTen/TripleTen Sprint 4/vehicles_us.csv')

#Preliminary data exploration
display(vehicles.head())
vehicles.info()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

There are some columns that need to be changed:

'price' should be float64 since it is a price and can go to decimals

'model_year' should be int64

'cylinders' should be int64

'is_4wd' should be bool, since it is a yes or no answer

In [10]:
vehicles['price'] = vehicles['price'].astype('float64')
vehicles['model_year'] = vehicles['model_year'].astype('int64') 
vehicles['cylinders'] = vehicles['cylinders'].astype('int64')
vehicles['is_4wd'] = vehicles['is_4wd'].astype('bool')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer